body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:701px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:700px;
}
#u2 {
  position:absolute;
  left:2px;
  top:342px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:61px;
}
#u3 {
  position:absolute;
  left:0px;
  top:640px;
  width:933px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u5 {
  position:absolute;
  left:30px;
  top:658px;
  width:58px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u7 {
  position:absolute;
  left:219px;
  top:658px;
  width:17px;
  height:25px;
  font-size:8px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u9 {
  position:absolute;
  left:246px;
  top:654px;
  width:125px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:left;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
}
#u11 {
  position:absolute;
  left:100px;
  top:651px;
  width:85px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u13 {
  position:absolute;
  left:836px;
  top:654px;
  width:60px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u15 {
  position:absolute;
  left:802px;
  top:658px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:561px;
}
#u17 {
  position:absolute;
  left:0px;
  top:80px;
  width:933px;
  height:560px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:272px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u20 {
  position:absolute;
  left:741px;
  top:651px;
  width:24px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u22 {
  position:absolute;
  left:711px;
  top:665px;
  width:52px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u25_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:936px;
  height:83px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:80px;
  color:#FFE85E;
}
#u26 {
  position:absolute;
  left:2px;
  top:32px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:71px;
}
#u27 {
  position:absolute;
  left:413px;
  top:5px;
  width:170px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#333333;
  line-height:24px;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:71px;
}
#u29 {
  position:absolute;
  left:593px;
  top:5px;
  width:170px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#333333;
  line-height:24px;
}
#u29_img.mouseDown {
}
#u29.mouseDown {
}
#u30 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:71px;
}
#u31 {
  position:absolute;
  left:763px;
  top:5px;
  width:170px;
  height:70px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#333333;
  line-height:24px;
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:81px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
  font-size:36px;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:80px;
  width:934px;
  height:561px;
  overflow:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:561px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:560px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:560px;
}
#u37 {
  position:absolute;
  left:2px;
  top:272px;
  width:931px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:561px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:560px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:935px;
  height:560px;
}
#u39 {
  position:absolute;
  left:2px;
  top:272px;
  width:931px;
  visibility:hidden;
  word-wrap:break-word;
}
