body {
  margin:0px;
  background-color:rgba(153, 153, 153, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:701px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:700px;
}
#u662 {
  position:absolute;
  left:2px;
  top:342px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:61px;
}
#u663 {
  position:absolute;
  left:0px;
  top:640px;
  width:933px;
  height:60px;
}
#u664 {
  position:absolute;
  left:2px;
  top:22px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u665 {
  position:absolute;
  left:30px;
  top:658px;
  width:58px;
  height:25px;
}
#u666 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:26px;
}
#u667 {
  position:absolute;
  left:219px;
  top:658px;
  width:17px;
  height:25px;
  font-size:8px;
  color:#FFFFFF;
}
#u668 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:33px;
}
#u669 {
  position:absolute;
  left:246px;
  top:654px;
  width:125px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:left;
}
#u670 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  white-space:nowrap;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
}
#u671 {
  position:absolute;
  left:100px;
  top:651px;
  width:85px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u672 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u673 {
  position:absolute;
  left:836px;
  top:654px;
  width:60px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u674 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u675 {
  position:absolute;
  left:802px;
  top:658px;
  width:25px;
  height:25px;
}
#u676 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:561px;
}
#u677 {
  position:absolute;
  left:0px;
  top:80px;
  width:933px;
  height:560px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u678 {
  position:absolute;
  left:2px;
  top:272px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u680 {
  position:absolute;
  left:741px;
  top:651px;
  width:24px;
  height:21px;
}
#u681 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u682 {
  position:absolute;
  left:711px;
  top:665px;
  width:52px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u683 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:81px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:80px;
}
#u686 {
  position:absolute;
  left:2px;
  top:32px;
  width:929px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u687 {
  position:absolute;
  left:831px;
  top:25px;
  width:21px;
  height:28px;
  color:#FFFFFF;
}
#u688 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:864px;
  top:28px;
  width:39px;
  height:25px;
}
#u689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:81px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:80px;
  font-family:'Iaxurefont', 'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u691 {
  position:absolute;
  left:0px;
  top:18px;
  width:95px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:68px;
}
#u692 {
  position:absolute;
  left:30px;
  top:103px;
  width:540px;
  height:67px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:left;
}
#u693 {
  position:absolute;
  left:2px;
  top:14px;
  width:536px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:30px;
}
#u694 {
  position:absolute;
  left:30px;
  top:160px;
  width:287px;
  height:29px;
  text-align:left;
}
#u695 {
  position:absolute;
  left:2px;
  top:2px;
  width:283px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u696 {
  position:absolute;
  left:30px;
  top:253px;
  width:59px;
  height:29px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u697 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u698 {
  position:absolute;
  left:30px;
  top:342px;
  width:59px;
  height:29px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u699 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:45px;
}
#u700 {
  position:absolute;
  left:121px;
  top:288px;
  width:196px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u701 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:45px;
}
#u702 {
  position:absolute;
  left:121px;
  top:385px;
  width:306px;
  height:44px;
  font-size:28px;
  text-align:left;
}
#u703 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:561px;
}
#u704 {
  position:absolute;
  left:570px;
  top:80px;
  width:363px;
  height:560px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u705 {
  position:absolute;
  left:2px;
  top:271px;
  width:359px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u706 {
  position:absolute;
  left:424px;
  top:23px;
  width:93px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u707 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  white-space:nowrap;
}
